* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

html,
body {
  overflow-x: hidden;
  font-family: "Andika", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
body {
  /* background-color: #d5d4d0 !important; */
  /* background-color: #e9e9e7 !important; */
  background-color: #f5f4fc !important;
}
.container {
  max-width: 1700px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

@media screen and (max-width: 1700px) {
  .container {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.chat_bot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999999999999999;
  height: auto;
  float: right;
}

.expanded {
  width: 270px;
  justify-content: space-between;
}
.chat_bot .expanded {
  visibility: visible;
  height: 500px;
  width: 500px;
}

.messenger {
  background-color: #fff;
  border: 1px solid #0f513238;
  box-shadow: 0 30px 50px #0000000d;
  padding: 10px;
  margin-bottom: 10px;
  height: 390px;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.7s;
  width: 0;
  height: 0;
  visibility: hidden;
}
.chatroom {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  touch-action: pan-y;
}
.chatroom::-webkit-scrollbar {
  display: none;
}

.msg {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #7c8089;
}
.msg .bubble {
  padding: 10px;
  border-radius: 5px;
  background-color: #e0f2ff;
}
.msg.msg_right .bubble {
  color: rgb(15 81 50);
  background-color: rgb(209 231 221);
}
.msg .bubble .name {
  color: #393d4a;
  font-size: 12px;
  font-weight: 500;
}
.msg.msg_left {
  align-items: flex-start;
}
.msg.msg_right {
  align-items: flex-end;
}

.sub_heading {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.sub_heading h2 {
  font-size: 25px !important;
  margin: 0 !important;
  margin-left: 15px !important;
  margin-bottom: 15px !important;
  font-family: "Andika", sans-serif !important;
}

hr {
  border: 2px solid #4831d4 !important;
  opacity: 1 !important;
  margin: 0 !important;
}

@media screen and (max-width: 575px) {
  .sub_heading h2 {
    font-size: 20px !important;
    margin-bottom: 8px !important;
  }
}
@media screen and (max-width: 767px) {
  .sub_heading h2 {
    font-size: 23px !important;
    margin-bottom: 8px !important;
  }
}
