.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.logo {
  font-size: 2rem;
  font-family: "Andika", sans-serif;
  color: #f5f4fc;
}
.primary_nav {
  margin: 0;
  color: #000;
  font-size: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  transition: 500ms ease-in-out;
  z-index: 99;
  top: 0;
  left: 0;
  text-transform: uppercase;
  cursor: pointer;
  visibility: hidden;
  font-family: "Poppins", sans-serif;
}
.primary_nav:before {
  content: "";
  background-color: #fff;
  height: 50%;
  width: 100%;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
.primary_nav::after {
  content: "";
  background-color: #fff;
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateX(-100%);
  z-index: -1;
  transition: 500ms ease-in-out;
}

.list {
  list-style: none;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.primary_nav ul {
  display: grid;
  gap: 0.5rem;
}

.primary_nav li:nth-child(1) {
  --_color: #4831d4;
}

.primary_nav li:nth-child(2) {
  --_color: #4831d4;
}
.primary_nav li:nth-child(3) {
  --_color: #4831d4;
}
.primary_nav li:nth-child(4) {
  --_color: #4831d4;
}

.nav_link {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0.5em 1em;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: color 500ms ease-out;
}
.nav_link:hover {
  color: var(--_color);
}

.nav_link::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 3px;
  background-color: var(--_color);
  transition: transform 500ms ease-out;
}

.nav_link:hover::before {
  transform: translateX(calc(200px - (1rem * 2) - 3px));
}

.menu {
  --height: 4px;
  --width: 16px;
  --bg: #f5f4fc;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-end;
  cursor: pointer;
  z-index: 99999;
}
.menu.opened {
  --bg: #4831d4;
  transition-delay: 0.5s;
}
.menu .middle {
  height: var(--height);
  width: var(--width);
  background-color: var(--bg);
}
.menu::before,
.menu::after {
  content: "";
  background-color: var(--bg);
  height: var(--height);
  transition: 0.2s ease-in-out;
}
.menu::before {
  width: calc(var(--width) / 2);
}
.menu::after {
  width: calc(var(--width) * 1.5);
}
.menu.opened::before {
  width: calc(var(--width) * 1.5);
}
.menu.opened::after {
  width: calc(var(--width) / 2);
}

.primary_nav.active::before {
  transform: translateX(0%);
  visibility: visible;
}

.primary_nav.active::after {
  visibility: visible;
  transform: translateX(0%);
  transition-delay: 0.05s;
}
.nav_opac {
  opacity: 1;
  transition: 3s;
  visibility: visible;
}
.contact_btn {
  margin-right: 13px;
}
.contact_btn button {
  background-color: #f5f4fc;
  padding: 8px 25px;
  outline: none;
  border: none;
  color: #4831d4;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

/*  footer */

.footer_head {
  background-color: #fff;
  margin-top: 80px;
  font-family: "Andika", sans-serif;
  padding: 4rem 0;
}

.site_logo a {
  font-size: 30px;
  color: #000;
  font-weight: 900;
}

.social_icon li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0;
  font-family: "Poppins", sans-serif;
}
