.blog_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-gap: 20px;
  max-width: 1300px;
  margin: auto;
}
.blog_card {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
  height: 100%;
  background-color: #fff;
  border-radius: 11px;
  overflow: hidden;
  cursor: pointer;
}

.blog_card:hover {
  transform: translateY(-1.5%);
}
.project_logo {
  margin: 0;
  height: 12rem;
  display: flex;
  align-items: center;
  transition: filter 0.3s;
  justify-content: center;
  background: #f9f8fd;
}

.blog_content {
  background-color: #fff;
  border-bottom-left-radius: 11px;
  padding: 20px 15px;
  border-bottom-right-radius: 11px;
}

.blog_content h2 {
  font-family: "Andika", sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
}
.blog_content a {
  color: #4831d4;
  font-size: 15px;
  font-family: "Andika", sans-serif;
}

.blog_content a:hover {
  text-shadow: 0px 1px 1px #4731d463;
}

@media only screen and (max-width: 1199px) {
  .blog_content h2 {
    font-size: 20px;
    margin-bottom: 13px;
  }
  .blog_content a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .blog_content h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .blog_content a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .blog_content h2 {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .blog_content a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 575px) {
  .blog_content h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .blog_content a {
    font-size: 12px;
  }
}
